BACKEND_BIND_HOST=<backend_bind_host>
BACKEND_CONTAINER_PORT=<backend_container_port>
BACKEND_HOST_PORT=<backend_host_port>
BACKEND_HEALTHCHECK_SCHEME=<backend_healthcheck_scheme>
BACKEND_HEALTHCHECK_HOST=<backend_healthcheck_host>
BACKEND_HEALTHCHECK_PATH=<backend_healthcheck_path>
BACKEND_HEALTHCHECK_INTERVAL=<backend_healthcheck_interval>
BACKEND_HEALTHCHECK_TIMEOUT=<backend_healthcheck_timeout>
BACKEND_HEALTHCHECK_RETRIES=<backend_healthcheck_retries>
BACKEND_HEALTHCHECK_START_PERIOD=<backend_healthcheck_start_period>
FRONTEND_CONTAINER_PORT=<frontend_container_port>
FRONTEND_HOST_PORT=<frontend_host_port>
BACKEND_API_BASE_URL=<backend_internal_base_url>
